<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding >
        <binding name="cidadesSoap" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                        maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://academico.engsupport.eti.br/servicos/cidades.asmx"
          binding="basicHttpBinding" bindingConfiguration="cidadesSoap"
          contract="AddressService.cidadesSoap" name="cidadesSoap" />
    </client>
  </system.serviceModel>
</configuration>