USE [tcc_sistema_escolar]
GO
/****** Object:  Table [dbo].[UF]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UF](
	[UF_SG_UF] [char](2) NOT NULL,
	[UF_NM_UF] [varchar](120) NULL,
 CONSTRAINT [PK_UF] PRIMARY KEY CLUSTERED 
(
	[UF_SG_UF] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[UF] ([UF_SG_UF], [UF_NM_UF]) VALUES (N'SP', N'Sao Paulo')
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AREA_CONHECIMENTO]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AREA_CONHECIMENTO](
	[ARCO_CD_AREA_CONHECIMENTO] [int] IDENTITY(1,1) NOT NULL,
	[ARCO_DS_AREA_CONHECIMENTO] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ARCO_CD_AREA_CONHECIMENTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MATERIAL_APOIO_AREA_CONHECIMENTO]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL_APOIO_AREA_CONHECIMENTO](
	[MAAP_CD_MATERIAL_APOIO] [int] NOT NULL,
	[ARCO_CD_AREA_CONHECIMENTO] [int] NOT NULL,
 CONSTRAINT [PK_MATERIAL_APOIO_AREA_CONHECIMENTO] PRIMARY KEY CLUSTERED 
(
	[MAAP_CD_MATERIAL_APOIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FREQUENCIA_DATA]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FREQUENCIA_DATA](
	[FRDT_CD_FREQUENCIA_DATA] [int] IDENTITY(1,1) NOT NULL,
	[FRDT_DT_DATA] [date] NOT NULL,
	[FRDT_DS_MOTIVO] [varchar](255) NULL,
	[FRDT_IN_ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FRDT_CD_FREQUENCIA_DATA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FREQUENCIA]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FREQUENCIA](
	[TURM_CD_TURMA] [int] NOT NULL,
	[DISC_CD_DISCENTE] [int] NOT NULL,
	[FRDT_CD_FREQUENCIA_DATA] [int] NOT NULL,
	[FREQ_IN_AUSENTE] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMACAO_ACADEMICA]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMACAO_ACADEMICA](
	[FOAC_CD_FORMACAO_ACADEMICA] [int] IDENTITY(1,1) NOT NULL,
	[FOAC_DS_FORMACAO_ACADEMICA] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FOAC_CD_FORMACAO_ACADEMICA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESCOLARIDADE]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESCOLARIDADE](
	[ESCO_CD_ESCOLARIDADE] [int] IDENTITY(1,1) NOT NULL,
	[ESCO_DS_ESCOLARIDADE] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ESCO_CD_ESCOLARIDADE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DISCIPLINA]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISCIPLINA](
	[DISC_ID_DISCIPLINA] [int] IDENTITY(1,1) NOT NULL,
	[DISC_DESC_DISCIPLINA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Disciplina] PRIMARY KEY CLUSTERED 
(
	[DISC_ID_DISCIPLINA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TURMA]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TURMA](
	[TURM_CD_TURMA] [int] IDENTITY(1,1) NOT NULL,
	[TURM_DS_TURMA] [varchar](100) NOT NULL,
	[TURM_IN_CAPACIDADE] [int] NOT NULL,
	[TURM_DT_INICIO_REALIZACAO] [date] NOT NULL,
	[TURM_DT_FIM_REALIZACAO] [date] NOT NULL,
	[TURM_IN_ATIVO] [bit] NOT NULL,
	[TURM_DS_TURNO] [int] NULL,
 CONSTRAINT [PK__TURMA__5D25B29A7FB92070] PRIMARY KEY CLUSTERED 
(
	[TURM_CD_TURMA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TURMA] ON
INSERT [dbo].[TURMA] ([TURM_CD_TURMA], [TURM_DS_TURMA], [TURM_IN_CAPACIDADE], [TURM_DT_INICIO_REALIZACAO], [TURM_DT_FIM_REALIZACAO], [TURM_IN_ATIVO], [TURM_DS_TURNO]) VALUES (1, N'Turma Teste', 10, CAST(0x10370B00 AS Date), CAST(0xB4360B00 AS Date), 1, 1)
INSERT [dbo].[TURMA] ([TURM_CD_TURMA], [TURM_DS_TURMA], [TURM_IN_CAPACIDADE], [TURM_DT_INICIO_REALIZACAO], [TURM_DT_FIM_REALIZACAO], [TURM_IN_ATIVO], [TURM_DS_TURNO]) VALUES (2, N'Turma Teste', 10, CAST(0x10370B00 AS Date), CAST(0xB4360B00 AS Date), 1, 2)
SET IDENTITY_INSERT [dbo].[TURMA] OFF
/****** Object:  Table [dbo].[TIPO_NOTA]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_NOTA](
	[TINO_CD_TIPO_NOTA] [int] IDENTITY(1,1) NOT NULL,
	[TINO_DS_TIPO_NOTA] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TINO_CD_TIPO_NOTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_PESSOA]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PESSOA](
	[PESS_CD_PESSOA] [int] IDENTITY(1,1) NOT NULL,
	[ENDE_CD_ENDERECO] [int] NULL,
	[PESS_NM_PESSOA] [varchar](255) NOT NULL,
	[PESS_DS_CPF] [char](11) NULL,
	[PESS_SG_SEXO] [int] NULL,
	[PESS_DT_NASCIMENTO] [date] NULL,
	[PESS_EMAIL] [varchar](100) NULL,
	[PESS_NM_TELEFONE] [varchar](12) NULL,
	[PESS_NM_CELULAR] [varchar](12) NULL,
	[PESS_NM_OBSERVACAO] [nchar](200) NULL,
	[PESS_SG_ESTADO_CIVIL] [int] NOT NULL,
 CONSTRAINT [PK__TB_PESSO__CA87C8AD3C69FB99] PRIMARY KEY CLUSTERED 
(
	[PESS_CD_PESSOA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TB_PESSOA] ON
INSERT [dbo].[TB_PESSOA] ([PESS_CD_PESSOA], [ENDE_CD_ENDERECO], [PESS_NM_PESSOA], [PESS_DS_CPF], [PESS_SG_SEXO], [PESS_DT_NASCIMENTO], [PESS_EMAIL], [PESS_NM_TELEFONE], [PESS_NM_CELULAR], [PESS_NM_OBSERVACAO], [PESS_SG_ESTADO_CIVIL]) VALUES (3, 6, N'Nome', N'37127474893', 1, CAST(0x77380B00 AS Date), N'teste@teste.com.br', N'1698232045', N'16982320455', NULL, 1)
SET IDENTITY_INSERT [dbo].[TB_PESSOA] OFF
/****** Object:  Table [dbo].[PERFIL_LOGIN]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERFIL_LOGIN](
	[PESS_ID_PESSOA] [int] NOT NULL,
	[LOGIN_PERFIL] [varchar](8) NOT NULL,
	[LOGIN_SENHA] [varchar](8) NOT NULL,
	[PERF_CD_PERFIL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PESS_ID_PESSOA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PERFIL_LOGIN] ([PESS_ID_PESSOA], [LOGIN_PERFIL], [LOGIN_SENHA], [PERF_CD_PERFIL]) VALUES (3, N'Nome93', N'Nome2014', 1)
/****** Object:  Table [dbo].[DISCENTE]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISCENTE](
	[DISC_CD_DISCENTE] [int] IDENTITY(1,1) NOT NULL,
	[PESS_CD_PESSOA] [int] NOT NULL,
	[DISC_DS_MATRICULA] [varchar](20) NULL,
	[ESCO_CD_ESCOLARIDADE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DISC_CD_DISCENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIDADE_MARCOS_TESTE]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIDADE_MARCOS_TESTE](
	[CIDA_CD_CIDADE] [int] NOT NULL,
	[UF_SG_UF] [char](2) NOT NULL,
	[CIDA_DS_CIDADE] [varchar](100) NULL,
 CONSTRAINT [PK__CIDADE__ECF1594B173876EA] PRIMARY KEY CLUSTERED 
(
	[CIDA_CD_CIDADE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CIDADE_MARCOS_TESTE] ([CIDA_CD_CIDADE], [UF_SG_UF], [CIDA_DS_CIDADE]) VALUES (1, N'SP', N'Araraquara')
/****** Object:  Table [dbo].[DOCENTE]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCENTE](
	[DOCE_CD_DOCENTE] [int] IDENTITY(1,1) NOT NULL,
	[PESS_CD_PESSOA] [int] NOT NULL,
	[ESCO_CD_ESCOLARIDADE] [int] NOT NULL,
	[DOCE_IN_ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCE_CD_DOCENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[ADMI_CD_ADMINISTRADOR] [int] IDENTITY(1,1) NOT NULL,
	[PESS_CD_PESSOA] [int] NOT NULL,
	[ADMI_IN_ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMI_CD_ADMINISTRADOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMINISTRADOR] ON
INSERT [dbo].[ADMINISTRADOR] ([ADMI_CD_ADMINISTRADOR], [PESS_CD_PESSOA], [ADMI_IN_ATIVO]) VALUES (1, 3, 0)
SET IDENTITY_INSERT [dbo].[ADMINISTRADOR] OFF
/****** Object:  Table [dbo].[TURMA_DOCENTE]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURMA_DOCENTE](
	[TURM_CD_TURMA] [int] NOT NULL,
	[DOCE_CD_DOCENTE] [int] NOT NULL,
	[TUDO_IN_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_TURMA_DOCENTE] PRIMARY KEY CLUSTERED 
(
	[TURM_CD_TURMA] ASC,
	[DOCE_CD_DOCENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURMA_DISCENTE_NOTA]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURMA_DISCENTE_NOTA](
	[TURM_CD_TURMA] [int] NOT NULL,
	[DISC_CD_DISCENTE] [int] NOT NULL,
	[TINO_CD_TIPO_NOTA] [int] NOT NULL,
	[TDNO_VL_NOTA] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TURMA_DISCENTE_NOTA] PRIMARY KEY CLUSTERED 
(
	[TURM_CD_TURMA] ASC,
	[DISC_CD_DISCENTE] ASC,
	[TINO_CD_TIPO_NOTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURMA_DISCENTE_MEDIA]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURMA_DISCENTE_MEDIA](
	[TURM_CD_TURMA] [int] NOT NULL,
	[DISC_CD_DISCENTE] [int] NOT NULL,
	[TDME_VL_MEDIA] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TURMA_DISCENTE_MEDIA] PRIMARY KEY CLUSTERED 
(
	[TURM_CD_TURMA] ASC,
	[DISC_CD_DISCENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURMA_DISCENTE]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURMA_DISCENTE](
	[TURM_CD_TURMA] [int] NOT NULL,
	[DISC_CD_DISCENTE] [int] NOT NULL,
	[TUDI_IN_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_TURMA_DISCENTE] PRIMARY KEY CLUSTERED 
(
	[TURM_CD_TURMA] ASC,
	[DISC_CD_DISCENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL_APOIO]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MATERIAL_APOIO](
	[MAAP_CD_MATERIAL_APOIO] [int] IDENTITY(1,1) NOT NULL,
	[MAAP_DS_TITULO] [varchar](100) NOT NULL,
	[MAAP_DS_DESCRICAO] [varchar](255) NOT NULL,
	[DOCE_CD_DOCENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAAP_CD_MATERIAL_APOIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENDERECO_MARCOS_TESTE]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENDERECO_MARCOS_TESTE](
	[ENDE_CD_ENDERECO] [int] IDENTITY(1,1) NOT NULL,
	[CIDA_CD_CIDADE] [int] NOT NULL,
	[ENDE_NR_CEP] [varchar](10) NOT NULL,
	[ENDE_NM_LOGRADOURO] [varchar](100) NOT NULL,
	[ENDE_NM_BAIRRO] [varchar](100) NOT NULL,
	[ENDE_NR_NUMERO] [varchar](10) NOT NULL,
	[ENDE_DS_COMPLEMENTO] [varchar](100) NULL,
 CONSTRAINT [PK__ENDERECO__FE7F50B3342CE8AF] PRIMARY KEY CLUSTERED 
(
	[ENDE_CD_ENDERECO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ENDERECO_MARCOS_TESTE] ON
INSERT [dbo].[ENDERECO_MARCOS_TESTE] ([ENDE_CD_ENDERECO], [CIDA_CD_CIDADE], [ENDE_NR_CEP], [ENDE_NM_LOGRADOURO], [ENDE_NM_BAIRRO], [ENDE_NR_NUMERO], [ENDE_DS_COMPLEMENTO]) VALUES (1, 1, N'14820000', N'Rua Teste', N'Bairro Teste', N'54 - A', N'')
INSERT [dbo].[ENDERECO_MARCOS_TESTE] ([ENDE_CD_ENDERECO], [CIDA_CD_CIDADE], [ENDE_NR_CEP], [ENDE_NM_LOGRADOURO], [ENDE_NM_BAIRRO], [ENDE_NR_NUMERO], [ENDE_DS_COMPLEMENTO]) VALUES (2, 1, N'14820000', N'Rua Teste', N'Bairro Teste', N'54 - A', N'')
INSERT [dbo].[ENDERECO_MARCOS_TESTE] ([ENDE_CD_ENDERECO], [CIDA_CD_CIDADE], [ENDE_NR_CEP], [ENDE_NM_LOGRADOURO], [ENDE_NM_BAIRRO], [ENDE_NR_NUMERO], [ENDE_DS_COMPLEMENTO]) VALUES (3, 1, N'14820000', N'Rua Teste', N'Bairro Teste', N'54 - A', N'')
SET IDENTITY_INSERT [dbo].[ENDERECO_MARCOS_TESTE] OFF
/****** Object:  Table [dbo].[DOCENTE_DISCIPLINA]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCENTE_DISCIPLINA](
	[DOCE_ID_DOCENTE] [int] NOT NULL,
	[DISC_ID_DISCIPLINA] [int] NOT NULL,
 CONSTRAINT [PK_DOCENTE_DISCIPLINA] PRIMARY KEY CLUSTERED 
(
	[DOCE_ID_DOCENTE] ASC,
	[DISC_ID_DISCIPLINA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL_APOIO_TURMA]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL_APOIO_TURMA](
	[TURM_CD_TURMA] [int] NOT NULL,
	[MAAP_CD_MATERIAL_APOIO] [int] NOT NULL,
	[MATU_DT_DATA_LIBERACAO] [date] NOT NULL,
 CONSTRAINT [PK_MATERIAL_APOIO_TURMA] PRIMARY KEY CLUSTERED 
(
	[TURM_CD_TURMA] ASC,
	[MAAP_CD_MATERIAL_APOIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL_APOIO_ARQUIVO]    Script Date: 09/06/2014 12:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MATERIAL_APOIO_ARQUIVO](
	[MAAR_CD_MATERIAL_APOIO_ARQUIVO] [int] IDENTITY(1,1) NOT NULL,
	[MAAP_CD_MATERIAL_APOIO] [int] NOT NULL,
	[MAAR_DS_NOME_ARQUIVO] [varchar](225) NOT NULL,
	[MAAR_ST_ARQUIVO] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAAR_CD_MATERIAL_APOIO_ARQUIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_CD_PESSOA_ADM]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[ADMINISTRADOR]  WITH CHECK ADD  CONSTRAINT [FK_CD_PESSOA_ADM] FOREIGN KEY([PESS_CD_PESSOA])
REFERENCES [dbo].[TB_PESSOA] ([PESS_CD_PESSOA])
GO
ALTER TABLE [dbo].[ADMINISTRADOR] CHECK CONSTRAINT [FK_CD_PESSOA_ADM]
GO
/****** Object:  ForeignKey [FK_ESTADO_MARCOS]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[CIDADE_MARCOS_TESTE]  WITH CHECK ADD  CONSTRAINT [FK_ESTADO_MARCOS] FOREIGN KEY([UF_SG_UF])
REFERENCES [dbo].[UF] ([UF_SG_UF])
GO
ALTER TABLE [dbo].[CIDADE_MARCOS_TESTE] CHECK CONSTRAINT [FK_ESTADO_MARCOS]
GO
/****** Object:  ForeignKey [FK_CD_PESSOA_DISCENTE]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[DISCENTE]  WITH CHECK ADD  CONSTRAINT [FK_CD_PESSOA_DISCENTE] FOREIGN KEY([PESS_CD_PESSOA])
REFERENCES [dbo].[TB_PESSOA] ([PESS_CD_PESSOA])
GO
ALTER TABLE [dbo].[DISCENTE] CHECK CONSTRAINT [FK_CD_PESSOA_DISCENTE]
GO
/****** Object:  ForeignKey [FK_DISc_ESCOLARIDADE]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[DISCENTE]  WITH CHECK ADD  CONSTRAINT [FK_DISc_ESCOLARIDADE] FOREIGN KEY([ESCO_CD_ESCOLARIDADE])
REFERENCES [dbo].[ESCOLARIDADE] ([ESCO_CD_ESCOLARIDADE])
GO
ALTER TABLE [dbo].[DISCENTE] CHECK CONSTRAINT [FK_DISc_ESCOLARIDADE]
GO
/****** Object:  ForeignKey [FK_CD_PESSOA_DOCENTE]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[DOCENTE]  WITH CHECK ADD  CONSTRAINT [FK_CD_PESSOA_DOCENTE] FOREIGN KEY([PESS_CD_PESSOA])
REFERENCES [dbo].[TB_PESSOA] ([PESS_CD_PESSOA])
GO
ALTER TABLE [dbo].[DOCENTE] CHECK CONSTRAINT [FK_CD_PESSOA_DOCENTE]
GO
/****** Object:  ForeignKey [FK_DOCENTE_ESCOLARIDADE]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[DOCENTE]  WITH CHECK ADD  CONSTRAINT [FK_DOCENTE_ESCOLARIDADE] FOREIGN KEY([ESCO_CD_ESCOLARIDADE])
REFERENCES [dbo].[ESCOLARIDADE] ([ESCO_CD_ESCOLARIDADE])
GO
ALTER TABLE [dbo].[DOCENTE] CHECK CONSTRAINT [FK_DOCENTE_ESCOLARIDADE]
GO
/****** Object:  ForeignKey [FK_DOCENTE_DISCIPLINA_DISCIPLINA]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[DOCENTE_DISCIPLINA]  WITH CHECK ADD  CONSTRAINT [FK_DOCENTE_DISCIPLINA_DISCIPLINA] FOREIGN KEY([DISC_ID_DISCIPLINA])
REFERENCES [dbo].[DISCIPLINA] ([DISC_ID_DISCIPLINA])
GO
ALTER TABLE [dbo].[DOCENTE_DISCIPLINA] CHECK CONSTRAINT [FK_DOCENTE_DISCIPLINA_DISCIPLINA]
GO
/****** Object:  ForeignKey [FK_DOCENTE_DISCIPLINA_DOCENTE]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[DOCENTE_DISCIPLINA]  WITH CHECK ADD  CONSTRAINT [FK_DOCENTE_DISCIPLINA_DOCENTE] FOREIGN KEY([DOCE_ID_DOCENTE])
REFERENCES [dbo].[DOCENTE] ([DOCE_CD_DOCENTE])
GO
ALTER TABLE [dbo].[DOCENTE_DISCIPLINA] CHECK CONSTRAINT [FK_DOCENTE_DISCIPLINA_DOCENTE]
GO
/****** Object:  ForeignKey [FK_CIDADE_MARCOS]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[ENDERECO_MARCOS_TESTE]  WITH CHECK ADD  CONSTRAINT [FK_CIDADE_MARCOS] FOREIGN KEY([CIDA_CD_CIDADE])
REFERENCES [dbo].[CIDADE_MARCOS_TESTE] ([CIDA_CD_CIDADE])
GO
ALTER TABLE [dbo].[ENDERECO_MARCOS_TESTE] CHECK CONSTRAINT [FK_CIDADE_MARCOS]
GO
/****** Object:  ForeignKey [FK_CD_DOCENTE]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[MATERIAL_APOIO]  WITH CHECK ADD  CONSTRAINT [FK_CD_DOCENTE] FOREIGN KEY([DOCE_CD_DOCENTE])
REFERENCES [dbo].[DOCENTE] ([DOCE_CD_DOCENTE])
GO
ALTER TABLE [dbo].[MATERIAL_APOIO] CHECK CONSTRAINT [FK_CD_DOCENTE]
GO
/****** Object:  ForeignKey [FK_CD_MATERIAL_APOIO]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[MATERIAL_APOIO_ARQUIVO]  WITH CHECK ADD  CONSTRAINT [FK_CD_MATERIAL_APOIO] FOREIGN KEY([MAAP_CD_MATERIAL_APOIO])
REFERENCES [dbo].[MATERIAL_APOIO] ([MAAP_CD_MATERIAL_APOIO])
GO
ALTER TABLE [dbo].[MATERIAL_APOIO_ARQUIVO] CHECK CONSTRAINT [FK_CD_MATERIAL_APOIO]
GO
/****** Object:  ForeignKey [FK_CD_MATERIAL_APOIO_TURMA]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[MATERIAL_APOIO_TURMA]  WITH CHECK ADD  CONSTRAINT [FK_CD_MATERIAL_APOIO_TURMA] FOREIGN KEY([MAAP_CD_MATERIAL_APOIO])
REFERENCES [dbo].[MATERIAL_APOIO] ([MAAP_CD_MATERIAL_APOIO])
GO
ALTER TABLE [dbo].[MATERIAL_APOIO_TURMA] CHECK CONSTRAINT [FK_CD_MATERIAL_APOIO_TURMA]
GO
/****** Object:  ForeignKey [FK_CD_TURMA]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[MATERIAL_APOIO_TURMA]  WITH CHECK ADD  CONSTRAINT [FK_CD_TURMA] FOREIGN KEY([TURM_CD_TURMA])
REFERENCES [dbo].[TURMA] ([TURM_CD_TURMA])
GO
ALTER TABLE [dbo].[MATERIAL_APOIO_TURMA] CHECK CONSTRAINT [FK_CD_TURMA]
GO
/****** Object:  ForeignKey [FK_PESSOA_LOGIN]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[PERFIL_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_PESSOA_LOGIN] FOREIGN KEY([PESS_ID_PESSOA])
REFERENCES [dbo].[TB_PESSOA] ([PESS_CD_PESSOA])
GO
ALTER TABLE [dbo].[PERFIL_LOGIN] CHECK CONSTRAINT [FK_PESSOA_LOGIN]
GO
/****** Object:  ForeignKey [FK_CD_TURMA_]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[TURMA_DISCENTE]  WITH CHECK ADD  CONSTRAINT [FK_CD_TURMA_] FOREIGN KEY([DISC_CD_DISCENTE])
REFERENCES [dbo].[DISCENTE] ([DISC_CD_DISCENTE])
GO
ALTER TABLE [dbo].[TURMA_DISCENTE] CHECK CONSTRAINT [FK_CD_TURMA_]
GO
/****** Object:  ForeignKey [FK_CD_TURMA_DISCENTE_CD]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[TURMA_DISCENTE]  WITH CHECK ADD  CONSTRAINT [FK_CD_TURMA_DISCENTE_CD] FOREIGN KEY([TURM_CD_TURMA])
REFERENCES [dbo].[TURMA] ([TURM_CD_TURMA])
GO
ALTER TABLE [dbo].[TURMA_DISCENTE] CHECK CONSTRAINT [FK_CD_TURMA_DISCENTE_CD]
GO
/****** Object:  ForeignKey [FK_CD_TURMA_DISCENTE]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[TURMA_DISCENTE_MEDIA]  WITH CHECK ADD  CONSTRAINT [FK_CD_TURMA_DISCENTE] FOREIGN KEY([DISC_CD_DISCENTE])
REFERENCES [dbo].[DISCENTE] ([DISC_CD_DISCENTE])
GO
ALTER TABLE [dbo].[TURMA_DISCENTE_MEDIA] CHECK CONSTRAINT [FK_CD_TURMA_DISCENTE]
GO
/****** Object:  ForeignKey [FK_CD_TURMA_MEDIA]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[TURMA_DISCENTE_MEDIA]  WITH CHECK ADD  CONSTRAINT [FK_CD_TURMA_MEDIA] FOREIGN KEY([TURM_CD_TURMA])
REFERENCES [dbo].[TURMA] ([TURM_CD_TURMA])
GO
ALTER TABLE [dbo].[TURMA_DISCENTE_MEDIA] CHECK CONSTRAINT [FK_CD_TURMA_MEDIA]
GO
/****** Object:  ForeignKey [FK_CD_TIPO_NOTA]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[TURMA_DISCENTE_NOTA]  WITH CHECK ADD  CONSTRAINT [FK_CD_TIPO_NOTA] FOREIGN KEY([TINO_CD_TIPO_NOTA])
REFERENCES [dbo].[TIPO_NOTA] ([TINO_CD_TIPO_NOTA])
GO
ALTER TABLE [dbo].[TURMA_DISCENTE_NOTA] CHECK CONSTRAINT [FK_CD_TIPO_NOTA]
GO
/****** Object:  ForeignKey [FK_CD_TURMA_DISCENTE_NOTAA]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[TURMA_DISCENTE_NOTA]  WITH CHECK ADD  CONSTRAINT [FK_CD_TURMA_DISCENTE_NOTAA] FOREIGN KEY([DISC_CD_DISCENTE])
REFERENCES [dbo].[DISCENTE] ([DISC_CD_DISCENTE])
GO
ALTER TABLE [dbo].[TURMA_DISCENTE_NOTA] CHECK CONSTRAINT [FK_CD_TURMA_DISCENTE_NOTAA]
GO
/****** Object:  ForeignKey [FK_CD_TURMA_NOTa]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[TURMA_DISCENTE_NOTA]  WITH CHECK ADD  CONSTRAINT [FK_CD_TURMA_NOTa] FOREIGN KEY([TURM_CD_TURMA])
REFERENCES [dbo].[TURMA] ([TURM_CD_TURMA])
GO
ALTER TABLE [dbo].[TURMA_DISCENTE_NOTA] CHECK CONSTRAINT [FK_CD_TURMA_NOTa]
GO
/****** Object:  ForeignKey [FK_TURMA_DOCENTE_CD_TURMA]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[TURMA_DOCENTE]  WITH CHECK ADD  CONSTRAINT [FK_TURMA_DOCENTE_CD_TURMA] FOREIGN KEY([TURM_CD_TURMA])
REFERENCES [dbo].[TURMA] ([TURM_CD_TURMA])
GO
ALTER TABLE [dbo].[TURMA_DOCENTE] CHECK CONSTRAINT [FK_TURMA_DOCENTE_CD_TURMA]
GO
/****** Object:  ForeignKey [FK_TURMA_DOSCENTE_CD_DOCENTE]    Script Date: 09/06/2014 12:36:20 ******/
ALTER TABLE [dbo].[TURMA_DOCENTE]  WITH CHECK ADD  CONSTRAINT [FK_TURMA_DOSCENTE_CD_DOCENTE] FOREIGN KEY([DOCE_CD_DOCENTE])
REFERENCES [dbo].[DOCENTE] ([DOCE_CD_DOCENTE])
GO
ALTER TABLE [dbo].[TURMA_DOCENTE] CHECK CONSTRAINT [FK_TURMA_DOSCENTE_CD_DOCENTE]
GO
