<article style="margin-top:3%">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel-body">

            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <figure class="row center">
                    <img src="~/Content/Images/lock-circle.png" alt="image" style="width: 200px; height: 200px" />
                </figure>

                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                    <section class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            @Html.TextBox("login", null, new { @class = "form-control", autocomplete = "off", onpaste = "return false", ondrop = "return false", placeholder = "Login", required = "required" })
                        </div>
                    </section>
                    <section class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            @Html.Password("password", null, new { @class = "form-control", maxlength = "20", autocomplete = "off", onpaste = "return false", ondrop = "return false", placeholder = "Senha", required = "required" })
                        </div>
                    </section>
                    <section class="form-group">
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Entrar">
                    </section>
                </div>
            }
        </div>

        <footer>
            <hgroup>
                <h5 class="center">Sem conta ? @Html.ActionLink("Clique aqui", "CreateAccount")</h5>
            </hgroup>
        </footer>

    </div>
</article>