
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="clear:both">&nbsp;</div>
<center>
    <article>
        <header>
            <hgroup>
                <h1>UNIP TCC 2015</h1>
            </hgroup>
        </header>
        <section>
            <header>
                <hgroup>
                    <h1>Sistema de Controle Escolar</h1>
                </hgroup>
            </header>
        </section>
    </article>

</center>

@*@section Scripts{
        @Scripts.Render("~/Content/Scripts/sistema/Home/Index.js")
    }*@


