USE [master]
GO
/****** Object:  Database [tcc_sistema_escolar]    Script Date: 10/02/2014 23:35:50 ******/
CREATE DATABASE [tcc_sistema_escolar] ON  PRIMARY 
( NAME = N'tcc_sistema_escolar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\tcc_sistema_escolar.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tcc_sistema_escolar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\tcc_sistema_escolar_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tcc_sistema_escolar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tcc_sistema_escolar]
GO
/****** Object:  Table [dbo].[DISCIPLINA]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISCIPLINA](
	[DISC_ID_DISCIPLINA] [int] IDENTITY(1,1) NOT NULL,
	[DISC_DESC_DISCIPLINA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Disciplina] PRIMARY KEY CLUSTERED 
(
	[DISC_ID_DISCIPLINA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DISCIPLINA] ON
INSERT [dbo].[DISCIPLINA] ([DISC_ID_DISCIPLINA], [DISC_DESC_DISCIPLINA]) VALUES (1, N'Artes')
INSERT [dbo].[DISCIPLINA] ([DISC_ID_DISCIPLINA], [DISC_DESC_DISCIPLINA]) VALUES (2, N'Ciências')
INSERT [dbo].[DISCIPLINA] ([DISC_ID_DISCIPLINA], [DISC_DESC_DISCIPLINA]) VALUES (3, N'Geografia')
SET IDENTITY_INSERT [dbo].[DISCIPLINA] OFF
/****** Object:  Table [dbo].[FREQUENCIA]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FREQUENCIA](
	[TURM_CD_TURMA] [int] NOT NULL,
	[DISC_CD_DISCENTE] [int] NOT NULL,
	[FRDT_CD_FREQUENCIA_DATA] [int] NOT NULL,
	[FREQ_IN_AUSENTE] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESCOLARIDADE]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESCOLARIDADE](
	[ESCO_CD_ESCOLARIDADE] [int] IDENTITY(1,1) NOT NULL,
	[ESCO_DS_ESCOLARIDADE] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ESCO_CD_ESCOLARIDADE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ESCOLARIDADE] ON
INSERT [dbo].[ESCOLARIDADE] ([ESCO_CD_ESCOLARIDADE], [ESCO_DS_ESCOLARIDADE]) VALUES (1, N'Ensino Fundamental')
INSERT [dbo].[ESCOLARIDADE] ([ESCO_CD_ESCOLARIDADE], [ESCO_DS_ESCOLARIDADE]) VALUES (2, N'Ensino Médio')
INSERT [dbo].[ESCOLARIDADE] ([ESCO_CD_ESCOLARIDADE], [ESCO_DS_ESCOLARIDADE]) VALUES (3, N'Ensino Superior')
SET IDENTITY_INSERT [dbo].[ESCOLARIDADE] OFF
/****** Object:  Table [dbo].[ENDERECO]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENDERECO](
	[cmpIdEndereco] [int] IDENTITY(1,1) NOT NULL,
	[cmpCoUf] [char](2) NULL,
	[cmpIdCidadeBrasil] [int] NULL,
	[cmpEdEndereco] [varchar](100) NULL,
	[cmpDcBairro] [varchar](70) NULL,
	[cmpNuCep] [varchar](9) NULL,
 CONSTRAINT [PK__ENDERECO__E88EFB2060A75C0F] PRIMARY KEY CLUSTERED 
(
	[cmpIdEndereco] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ENDERECO] ON
INSERT [dbo].[ENDERECO] ([cmpIdEndereco], [cmpCoUf], [cmpIdCidadeBrasil], [cmpEdEndereco], [cmpDcBairro], [cmpNuCep]) VALUES (1, N'RO', 110001, N'Endereco 1', N'Bairro Teste', N'14820000')
INSERT [dbo].[ENDERECO] ([cmpIdEndereco], [cmpCoUf], [cmpIdCidadeBrasil], [cmpEdEndereco], [cmpDcBairro], [cmpNuCep]) VALUES (2, N'RO', 110001, N'Endereco 2', N'Bairro Teste', N'14820000')
INSERT [dbo].[ENDERECO] ([cmpIdEndereco], [cmpCoUf], [cmpIdCidadeBrasil], [cmpEdEndereco], [cmpDcBairro], [cmpNuCep]) VALUES (4, N'AC', 0, N'Rua Teste', N'Bairro Teste', N'0')
SET IDENTITY_INSERT [dbo].[ENDERECO] OFF
/****** Object:  Table [dbo].[PESSOA]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PESSOA](
	[PESS_CD_PESSOA] [int] IDENTITY(1,1) NOT NULL,
	[ENDE_CD_ENDERECO] [int] NULL,
	[PESS_NM_PESSOA] [varchar](255) NOT NULL,
	[PESS_DS_CPF] [char](11) NULL,
	[PESS_SG_SEXO] [int] NULL,
	[PESS_DT_NASCIMENTO] [date] NULL,
	[PESS_EMAIL] [varchar](100) NULL,
	[PESS_NM_TELEFONE] [varchar](12) NULL,
	[PESS_NM_CELULAR] [varchar](12) NULL,
	[PESS_NM_OBSERVACAO] [nchar](200) NULL,
	[PESS_SG_ESTADO_CIVIL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PESS_CD_PESSOA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PESSOA] ON
INSERT [dbo].[PESSOA] ([PESS_CD_PESSOA], [ENDE_CD_ENDERECO], [PESS_NM_PESSOA], [PESS_DS_CPF], [PESS_SG_SEXO], [PESS_DT_NASCIMENTO], [PESS_EMAIL], [PESS_NM_TELEFONE], [PESS_NM_CELULAR], [PESS_NM_OBSERVACAO], [PESS_SG_ESTADO_CIVIL]) VALUES (29, 29, N'Discente 1', N'41177238985', 1, CAST(0x77380B00 AS Date), N'teste@teste.com.br', N'1698232045', N'16982320455', NULL, 1)
INSERT [dbo].[PESSOA] ([PESS_CD_PESSOA], [ENDE_CD_ENDERECO], [PESS_NM_PESSOA], [PESS_DS_CPF], [PESS_SG_SEXO], [PESS_DT_NASCIMENTO], [PESS_EMAIL], [PESS_NM_TELEFONE], [PESS_NM_CELULAR], [PESS_NM_OBSERVACAO], [PESS_SG_ESTADO_CIVIL]) VALUES (30, 30, N'Docente 1', N'94854936738', 1, CAST(0x77380B00 AS Date), N'teste@teste.com.br', N'1698232045', N'16982320455', NULL, 1)
INSERT [dbo].[PESSOA] ([PESS_CD_PESSOA], [ENDE_CD_ENDERECO], [PESS_NM_PESSOA], [PESS_DS_CPF], [PESS_SG_SEXO], [PESS_DT_NASCIMENTO], [PESS_EMAIL], [PESS_NM_TELEFONE], [PESS_NM_CELULAR], [PESS_NM_OBSERVACAO], [PESS_SG_ESTADO_CIVIL]) VALUES (31, 31, N'Docente 2', N'44750708135', 1, CAST(0x77380B00 AS Date), N'teste@teste.com.br', N'1698232045', N'16982320455', NULL, 1)
SET IDENTITY_INSERT [dbo].[PESSOA] OFF
/****** Object:  Table [dbo].[DOCENTE]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCENTE](
	[DOCE_CD_DOCENTE] [int] IDENTITY(1,1) NOT NULL,
	[PESS_CD_PESSOA] [int] NOT NULL,
	[ESCO_CD_ESCOLARIDADE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCE_CD_DOCENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DOCENTE] ON
INSERT [dbo].[DOCENTE] ([DOCE_CD_DOCENTE], [PESS_CD_PESSOA], [ESCO_CD_ESCOLARIDADE]) VALUES (3, 30, 1)
INSERT [dbo].[DOCENTE] ([DOCE_CD_DOCENTE], [PESS_CD_PESSOA], [ESCO_CD_ESCOLARIDADE]) VALUES (4, 31, 1)
INSERT [dbo].[DOCENTE] ([DOCE_CD_DOCENTE], [PESS_CD_PESSOA], [ESCO_CD_ESCOLARIDADE]) VALUES (5, 41, 1)
SET IDENTITY_INSERT [dbo].[DOCENTE] OFF
/****** Object:  Table [dbo].[DISCENTE]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISCENTE](
	[DISC_CD_DISCENTE] [int] IDENTITY(1,1) NOT NULL,
	[PESS_CD_PESSOA] [int] NOT NULL,
	[DISC_DS_MATRICULA] [varchar](20) NULL,
	[ESCO_CD_ESCOLARIDADE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DISC_CD_DISCENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DISCENTE] ON
INSERT [dbo].[DISCENTE] ([DISC_CD_DISCENTE], [PESS_CD_PESSOA], [DISC_DS_MATRICULA], [ESCO_CD_ESCOLARIDADE]) VALUES (32, 29, N'NomeUNIP1', 1)
INSERT [dbo].[DISCENTE] ([DISC_CD_DISCENTE], [PESS_CD_PESSOA], [DISC_DS_MATRICULA], [ESCO_CD_ESCOLARIDADE]) VALUES (33, 32, N'Discente 2UNIP33', 1)
INSERT [dbo].[DISCENTE] ([DISC_CD_DISCENTE], [PESS_CD_PESSOA], [DISC_DS_MATRICULA], [ESCO_CD_ESCOLARIDADE]) VALUES (34, 33, N'Discente 3UNIP34', 2)
SET IDENTITY_INSERT [dbo].[DISCENTE] OFF
/****** Object:  Table [dbo].[ADMINISTRADOR]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADOR](
	[ADMI_CD_ADMINISTRADOR] [int] IDENTITY(1,1) NOT NULL,
	[PESS_CD_PESSOA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMI_CD_ADMINISTRADOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMINISTRADOR] ON
INSERT [dbo].[ADMINISTRADOR] ([ADMI_CD_ADMINISTRADOR], [PESS_CD_PESSOA]) VALUES (26, 42)
INSERT [dbo].[ADMINISTRADOR] ([ADMI_CD_ADMINISTRADOR], [PESS_CD_PESSOA]) VALUES (27, 43)
SET IDENTITY_INSERT [dbo].[ADMINISTRADOR] OFF
/****** Object:  Table [dbo].[PERFIL_LOGIN]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERFIL_LOGIN](
	[Id_USU] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_PERFIL] [varchar](50) NOT NULL,
	[LOGIN_SENHA] [varchar](50) NOT NULL,
	[PERF_CD_PERFIL] [int] NOT NULL,
	[ID_PESS_COD] [int] NULL,
 CONSTRAINT [PK__PERFIL_L__09D972545812160E] PRIMARY KEY CLUSTERED 
(
	[Id_USU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PERFIL_LOGIN] ON
INSERT [dbo].[PERFIL_LOGIN] ([Id_USU], [LOGIN_PERFIL], [LOGIN_SENHA], [PERF_CD_PERFIL], [ID_PESS_COD]) VALUES (19, N'Discente185', N'Discente12014', 3, 29)
INSERT [dbo].[PERFIL_LOGIN] ([Id_USU], [LOGIN_PERFIL], [LOGIN_SENHA], [PERF_CD_PERFIL], [ID_PESS_COD]) VALUES (20, N'Docente138', N'Docente12014', 2, 30)
INSERT [dbo].[PERFIL_LOGIN] ([Id_USU], [LOGIN_PERFIL], [LOGIN_SENHA], [PERF_CD_PERFIL], [ID_PESS_COD]) VALUES (21, N'Docente235', N'Docente22014', 2, 31)
SET IDENTITY_INSERT [dbo].[PERFIL_LOGIN] OFF
/****** Object:  Table [dbo].[MATERIAL_APOIO_TURMA]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MATERIAL_APOIO_TURMA](
	[MAAP_CD_MATERIAL_APOIO] [int] IDENTITY(1,1) NOT NULL,
	[MAAP_DS_TITULO] [varchar](100) NOT NULL,
	[MAAP_DS_DESCRICAO] [varchar](255) NOT NULL,
	[DOCE_CD_DOCENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAAP_CD_MATERIAL_APOIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOCENTE_DISCIPLINAS]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCENTE_DISCIPLINAS](
	[DOCE_ID_DOCENTE] [int] NOT NULL,
	[DOCE_ID_DISCIPLINA] [int] NOT NULL,
 CONSTRAINT [PK_DOCENTE_DISCIPLINAS] PRIMARY KEY CLUSTERED 
(
	[DOCE_ID_DOCENTE] ASC,
	[DOCE_ID_DISCIPLINA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DOCENTE_DISCIPLINAS] ([DOCE_ID_DOCENTE], [DOCE_ID_DISCIPLINA]) VALUES (3, 3)
INSERT [dbo].[DOCENTE_DISCIPLINAS] ([DOCE_ID_DOCENTE], [DOCE_ID_DISCIPLINA]) VALUES (4, 6)
INSERT [dbo].[DOCENTE_DISCIPLINAS] ([DOCE_ID_DOCENTE], [DOCE_ID_DISCIPLINA]) VALUES (5, 1)
/****** Object:  Table [dbo].[TURMA]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TURMA](
	[TURM_CD_TURMA] [int] IDENTITY(1,1) NOT NULL,
	[TURM_DS_TURMA] [varchar](100) NOT NULL,
	[TURM_ID_TURNO] [int] NULL,
	[TURM_ID_DOCENTE] [int] NOT NULL,
 CONSTRAINT [PK__TURMA__5D25B29A7FB92070] PRIMARY KEY CLUSTERED 
(
	[TURM_CD_TURMA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TURMA_DISCENTE]    Script Date: 10/02/2014 23:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURMA_DISCENTE](
	[TURM_CD_TURMA] [int] NOT NULL,
	[DISC_CD_DISCENTE] [int] NOT NULL,
 CONSTRAINT [PK_TURMA_DISCENTE] PRIMARY KEY CLUSTERED 
(
	[TURM_CD_TURMA] ASC,
	[DISC_CD_DISCENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_PESS_ENDERECO]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[PESSOA]  WITH CHECK ADD  CONSTRAINT [FK_PESS_ENDERECO] FOREIGN KEY([ENDE_CD_ENDERECO])
REFERENCES [dbo].[ENDERECO] ([cmpIdEndereco])
GO
ALTER TABLE [dbo].[PESSOA] CHECK CONSTRAINT [FK_PESS_ENDERECO]
GO
/****** Object:  ForeignKey [FK_DOCENTE_ESCOLARIDADE]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[DOCENTE]  WITH CHECK ADD  CONSTRAINT [FK_DOCENTE_ESCOLARIDADE] FOREIGN KEY([ESCO_CD_ESCOLARIDADE])
REFERENCES [dbo].[ESCOLARIDADE] ([ESCO_CD_ESCOLARIDADE])
GO
ALTER TABLE [dbo].[DOCENTE] CHECK CONSTRAINT [FK_DOCENTE_ESCOLARIDADE]
GO
/****** Object:  ForeignKey [FK_PESS_DOCENTE]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[DOCENTE]  WITH CHECK ADD  CONSTRAINT [FK_PESS_DOCENTE] FOREIGN KEY([PESS_CD_PESSOA])
REFERENCES [dbo].[PESSOA] ([PESS_CD_PESSOA])
GO
ALTER TABLE [dbo].[DOCENTE] CHECK CONSTRAINT [FK_PESS_DOCENTE]
GO
/****** Object:  ForeignKey [FK_DISc_ESCOLARIDADE]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[DISCENTE]  WITH CHECK ADD  CONSTRAINT [FK_DISc_ESCOLARIDADE] FOREIGN KEY([ESCO_CD_ESCOLARIDADE])
REFERENCES [dbo].[ESCOLARIDADE] ([ESCO_CD_ESCOLARIDADE])
GO
ALTER TABLE [dbo].[DISCENTE] CHECK CONSTRAINT [FK_DISc_ESCOLARIDADE]
GO
/****** Object:  ForeignKey [FK_PESS_DISCENTE]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[DISCENTE]  WITH CHECK ADD  CONSTRAINT [FK_PESS_DISCENTE] FOREIGN KEY([PESS_CD_PESSOA])
REFERENCES [dbo].[PESSOA] ([PESS_CD_PESSOA])
GO
ALTER TABLE [dbo].[DISCENTE] CHECK CONSTRAINT [FK_PESS_DISCENTE]
GO
/****** Object:  ForeignKey [FK_PESS_ADM]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[ADMINISTRADOR]  WITH CHECK ADD  CONSTRAINT [FK_PESS_ADM] FOREIGN KEY([PESS_CD_PESSOA])
REFERENCES [dbo].[PESSOA] ([PESS_CD_PESSOA])
GO
ALTER TABLE [dbo].[ADMINISTRADOR] CHECK CONSTRAINT [FK_PESS_ADM]
GO
/****** Object:  ForeignKey [FK_PERFIL_LOGIN_PERFIL_LOGIN]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[PERFIL_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_PERFIL_LOGIN_PERFIL_LOGIN] FOREIGN KEY([Id_USU])
REFERENCES [dbo].[PERFIL_LOGIN] ([Id_USU])
GO
ALTER TABLE [dbo].[PERFIL_LOGIN] CHECK CONSTRAINT [FK_PERFIL_LOGIN_PERFIL_LOGIN]
GO
/****** Object:  ForeignKey [FK_PESSOA]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[PERFIL_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_PESSOA] FOREIGN KEY([ID_PESS_COD])
REFERENCES [dbo].[PESSOA] ([PESS_CD_PESSOA])
GO
ALTER TABLE [dbo].[PERFIL_LOGIN] CHECK CONSTRAINT [FK_PESSOA]
GO
/****** Object:  ForeignKey [FK_CD_DOCENTE]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[MATERIAL_APOIO_TURMA]  WITH CHECK ADD  CONSTRAINT [FK_CD_DOCENTE] FOREIGN KEY([DOCE_CD_DOCENTE])
REFERENCES [dbo].[DOCENTE] ([DOCE_CD_DOCENTE])
GO
ALTER TABLE [dbo].[MATERIAL_APOIO_TURMA] CHECK CONSTRAINT [FK_CD_DOCENTE]
GO
/****** Object:  ForeignKey [FK_DOCE_DISCI_DISCIPLINA]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[DOCENTE_DISCIPLINAS]  WITH CHECK ADD  CONSTRAINT [FK_DOCE_DISCI_DISCIPLINA] FOREIGN KEY([DOCE_ID_DISCIPLINA])
REFERENCES [dbo].[DISCIPLINA] ([DISC_ID_DISCIPLINA])
GO
ALTER TABLE [dbo].[DOCENTE_DISCIPLINAS] CHECK CONSTRAINT [FK_DOCE_DISCI_DISCIPLINA]
GO
/****** Object:  ForeignKey [FK_DOCE_DISCI_DOCENTE]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[DOCENTE_DISCIPLINAS]  WITH CHECK ADD  CONSTRAINT [FK_DOCE_DISCI_DOCENTE] FOREIGN KEY([DOCE_ID_DOCENTE])
REFERENCES [dbo].[DOCENTE] ([DOCE_CD_DOCENTE])
GO
ALTER TABLE [dbo].[DOCENTE_DISCIPLINAS] CHECK CONSTRAINT [FK_DOCE_DISCI_DOCENTE]
GO
/****** Object:  ForeignKey [fk_turma_docente]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[TURMA]  WITH CHECK ADD  CONSTRAINT [fk_turma_docente] FOREIGN KEY([TURM_ID_DOCENTE])
REFERENCES [dbo].[DOCENTE] ([DOCE_CD_DOCENTE])
GO
ALTER TABLE [dbo].[TURMA] CHECK CONSTRAINT [fk_turma_docente]
GO
/****** Object:  ForeignKey [FK_CD_TURMA_]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[TURMA_DISCENTE]  WITH CHECK ADD  CONSTRAINT [FK_CD_TURMA_] FOREIGN KEY([DISC_CD_DISCENTE])
REFERENCES [dbo].[DISCENTE] ([DISC_CD_DISCENTE])
GO
ALTER TABLE [dbo].[TURMA_DISCENTE] CHECK CONSTRAINT [FK_CD_TURMA_]
GO
/****** Object:  ForeignKey [FK_CD_TURMA_DISCENTE_CD]    Script Date: 10/02/2014 23:35:52 ******/
ALTER TABLE [dbo].[TURMA_DISCENTE]  WITH CHECK ADD  CONSTRAINT [FK_CD_TURMA_DISCENTE_CD] FOREIGN KEY([TURM_CD_TURMA])
REFERENCES [dbo].[TURMA] ([TURM_CD_TURMA])
GO
ALTER TABLE [dbo].[TURMA_DISCENTE] CHECK CONSTRAINT [FK_CD_TURMA_DISCENTE_CD]
GO
